h1 {
  color: #004d40;
}
p {
  color: #3b615d;
}

label {
  color: #46706c;
}

small {
  font-size: 0.8rem;
}
div {
  margin-left: 2.4rem;
}
body,
input {
  font-weight: 500;
  font-family: Poppins;
  font-size: 1.6rem;
  color: #45a097;
}

button {
  background: #004d40;
  color: #ffffffd2;
  border: 0;
  border-radius: 0.6rem;
  cursor: pointer;
  font: 700 1.8rem Archivo;
  font-size: 1.6rem;
  padding: 0.9rem;
}

button:hover {
  background: #026151;
}

#valueInvalid {
  color: #f50b0b;
  margin-left: 0.6rem;
  font: 700 1.8rem Archivo;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: #ffffff;
  padding: 10px;
}

.container > div {
  background-color: #b2dfdb;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border-radius: 0.8rem;
}

.itemP {
  grid-column-start: 1;
  grid-column-end: 3;
}

#container-button {
  padding-top: 2rem;
  background-color: #ffffff;
  text-align: initial;
  margin: 0px;
}

#container-decimal {
  padding: 1.2rem;
}
